<template name="campaigns">
  <div>
      <ul class="nav navbar-nav side-nav">
            <li><a href="/dashboard"><i class="glyphicon glyphicon-stats"></i> Dashboard</a></li>
            <li><a href="/signatures"><i class="glyphicon glyphicon-bullhorn"></i> Signatures</a></li>
            <li class="active"><a href="/campaigns"><i class="glyphicon glyphicon-calendar"></i> Campaigns</a></li>
            {{#if admin}}
            <li><a href="/users"><i class="glyphicon glyphicon-user"></i> Users</a></li>
            {{/if}}
      </ul>

    </div>

    <div id="page-wrapper">
      <div class="container">  
        <div class="row">
          <div class="col-lg-3">    
            <button class="md-trigger btn btn-primary" data-modal="newCampaignModal">Créer une nouvelle campagne</button>
          </div>
          <div class="col-lg-9 well" id="detailsCampaign">
            {{> detailsCampaign}}
          </div>
        </div>        
      </div>
      <div id='calendar'></div>
      <div class="md-modal md-effect-12" id="newCampaignModal">
  			 <div class="md-content">
  			   <button type="button" class="close md-close"aria-hidden="true">&times;</button>
  			   <h3>Nouvelle Campagne</h3>
  			   <div>
  					 {{> newCampaign}}
  				</div>
  			</div>
  		</div>
  		<div class="md-overlay"></div>
    </div><!-- /#page-wrapper -->
</template>

<template name="newCampaign">
  <form id="new-signature-form" class="form">
      <div class="form-group">
        <label class="sr-only" for="new-campaign-name">Titre de la campagne</label>
        <input type="text" class="form-control" id="new-campaign-name" placeholder="Titre de la campagne" required/>
      </div>
      <div class="form-group">
        <label class="sr-only" for="new-campaign-signature">Signature</label>
        <select class="form-control" id="new-campaign-signature" required>
          {{#each signatures}}
          <option value="{{_id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="new-campaign-service">Service</label>
        <select multiple class="form-control" id="new-campaign-service">
          {{#each services}}
          <option value="{{_id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <button type="submit" id="create-new-campaign" class="btn btn-primary">Create</button>
      </div>
     </div>
  </form>
</template>

<template name="detailsCampaign">
  {{#if campaign}}
  <p>Nom de la campagne : <strong>{{campaign.title}}</strong></p>
  <p>Date de début : <strong>{{campaign.start}}</strong></p>
  <p>Date de fin : <strong>{{campaign.end}}</strong></p>
  <p><img src="{{{signature.img}}}" height='50px'/></p> 
  {{#if canDelete}}
  <p><button class="btn btn-sm btn-danger" id="cancel">Cancel the campaign</button></p>
  {{/if}}
  {{/if}}
</template>