<template name="landing">
    <div class="header-image">

      <div class="headline">
        <div class="container">
          <h1>{{i18n "header.simplesignature"}}</h1>
          <h2>{{i18n "landing.accroche"}}</h2>
          <br />
          <br />
          <p><button class="btn btn-default btn-lg" id="signup">{{i18n "landing.signup"}}</button></p>
        </div>
      </div>

    </div><!-- /header-image -->
    <div class="scrollblock pull-left"></div>
    <div class="container" data-spy="scroll" data-target="#landingNav">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" id="first-featurette-divider">

      <div class="featurette" id="campaigns">
        <div class="scrollblock place pull-right" id="mail">
          <div id="mail1"><img src="/assets/img/mail.svg" height="50px" width="50px"></div>
          <div id="mail2"><img src="/assets/img/mail.svg" height="60px" width="60px"></div>
          <div id="mail3"><img src="/assets/img/mail.svg" height="40px" width="40px"></div>
          <div id="mail4"><img src="/assets/img/mail.svg" height="80px" width="80px"></div>
          <div id="mail5"><img src="/assets/img/mail.svg" height="45px" width="45px"></div>
        </div>
        <h2 class="featurette-heading">{{i18n "landing.campaignstitle"}} <span class="text-muted">{{i18n "landing.campaignssubtitle"}}</span></h2>
        <p class="lead">{{i18n "landing.campaignstext"}}</p>
      </div>
      
      <hr class="featurette-divider">
      <div class="featurette" id="targetCont">
        <div class="scrollblock place pull-left" id="target">
          <div id="arrow"><img src="/assets/img/arrow.svg" height="100px" width="100px"></div>
        </div>
        <h2 class="featurette-heading">{{i18n "landing.targettitle"}} <span class="text-muted">{{i18n "landing.targetsubtitle"}}</span></h2>
        <p class="lead">{{i18n "landing.targettext"}}</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="free">
        <div class="scrollblock place pull-right" id="gift"></div>
        <h2 class="featurette-heading">{{i18n "landing.freetitle"}} <span class="text-muted">{{i18n "landing.freesubtitle"}}</span></h2>
        <p class="lead">{{i18n "landing.freetext"}}</p>
      </div>

      <!-- /END THE FEATURETTES -->
      <hr class="featurette-divider">

      <div class="featurette">
        <button class="btn btn-primary btn-lg" id="signup">{{i18n "landing.signup"}}</button>
      </div>
      
      <hr>

      <!-- FOOTER -->
      <footer>
        <p>Built with &#10084; by <a href="http://www.linkedin.com/in/mathieudutour" target="_blank" class="no-backbone" style="color:#000000;text-decoration:none">Mathieu</a></p>
      </footer>
      <!-- /END OF FOOTER -->

    </div><!-- /container -->
</template>