<template name="landing">
    <div class="header-image">

      <div class="headline">
        <div class="container">
          <h1>Simple Signature</h1>
          <h2>or how you learned to stop worrying and used your mail signature to communicate !</h2>
        </div>
      </div>

    </div><!-- /header-image -->
    <div class="scrollblock pull-left"></div>
    <div class="container">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" id="first-featurette-divider">

      <div class="featurette" id="about">
        <div class="scrollblock place pull-right" id="mail">
          <div id="mail1"><img src="/assets/img/mail.svg" height="50px" width="50px"></div>
          <div id="mail2"><img src="/assets/img/mail.svg" height="60px" width="60px"></div>
          <div id="mail3"><img src="/assets/img/mail.svg" height="40px" width="40px"></div>
          <div id="mail4"><img src="/assets/img/mail.svg" height="80px" width="80px"></div>
          <div id="mail5"><img src="/assets/img/mail.svg" height="45px" width="45px"></div>
        </div>
        <h2 class="featurette-heading">Campaigns ! <span class="text-muted">Campaigns everywhere !</span></h2>
        <p class="lead">Create campaigns of communication using mail signature. They will automatically be pushed to the mail application of your co-workers (and yours). No more worries about how everyone in your company use their signature.</p>
      </div>
      
      <hr class="featurette-divider">
      <div class="featurette" id="services">
        <div class="scrollblock place pull-left" id="target">
          <div id="arrow"><img src="/assets/img/arrow.svg" height="100px" width="100px"></div>
        </div>
        <h2 class="featurette-heading">Aim <span class="text-muted">at the right target.</span></h2>
        <p class="lead">Because your co-workers don't really care about your communication (or not ?), Simple Signature checks if the email is for a co-worker or a client and automatically choose the right signature in function.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette" id="contact">
        <div class="scrollblock place pull-right" id="gift"></div>
        <h2 class="featurette-heading">Last but not least, <span class="text-muted">it's free !</span></h2>
        <p class="lead">You can use Simple Signature for an unlimited time and if you like it, you can buy me a beer or you can unlock awesome features for a very small price.</p>
      </div>

      <!-- /END THE FEATURETTES -->

      <hr>

      <!-- FOOTER -->
      <footer>
        <p>Made with <3 by <a href="http://www.linkedin.com/pub/mathieu-dutour/" target="_blank">Mathieu</a></p>
      </footer>
      <!-- /END OF FOOTER -->

    </div><!-- /container -->
</template>