<template name="componentHeader">
	<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{#if loggedIn}}/dashboard{{else}}/{{/if}}">Simple Signature</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
        {{#if loggedIn}}
        {{else}}
          <ul class="nav navbar-nav">
            <li><a href="#campaigns" class="no-backbone">Campaigns</a></li>
            <li><a href="#targetCont" class="no-backbone">Target</a></li>
            <li><a href="#free" class="no-backbone">Free</a></li>
          </ul>
        {{/if}}
          <div id="login">
          {{loginButtons}}
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
</template>