<template name="signatures">
  {{> sidebar}}
    <div id="page-wrapper">
      <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li class="active"><i class="icon-bullhorn"></i> {{i18n "sidebar.signatures"}}</li>
            </ol>
          </div>
        </div><!-- /.row -->
      <div><button class="md-trigger btn btn-primary" data-modal="newSignatureModal"><i class="icon-plus"></i> {{i18n "signatures.create"}}</button></div>
      <br />
        <table class="table table-striped"> 
          <tr>
            <th>{{i18n "signatures.name"}}</th>
            <th>{{i18n "signatures.date"}}</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>   
          {{#each signatures}}
          <tr>
            <td>{{name}}</td>
            <td>{{prettifyDate createdAt}}</td>
            <td><img src="{{{img}}}"/></td>
            <td><button class="btn btn-sm btn-warning editSignButton md-trigger" type="button" data-toggle="tooltip" data-original-title="{{i18n "signatures.edit"}}" data-modal="editSignatureModal" idSign="{{_id}}"><i class="icon-pencil"></i></button></td>
            <td><button class="btn btn-sm btn-danger removeSignButton" type="button" data-toggle="tooltip" data-original-title="{{i18n "signatures.remove"}}" idSign="{{_id}}"><i class="icon-close"></i></button></td>
          </tr>       
          {{/each}}
        </table>    
      <div class="md-modal md-effect-12" id="newSignatureModal">
  			 <div class="md-content">
  			   <button type="button" class="close md-close"aria-hidden="true">&times;</button>
  			   <h3>{{i18n "signatures.newtitle"}}</h3>
  			   <div>
  					 {{> newSignature}}
  				</div>
  			</div>
  		</div>
  		<div class="md-modal md-effect-12" id="editSignatureModal">
  			 <div class="md-content">
  			   <button type="button" class="close md-close"aria-hidden="true">&times;</button>
  			   <h3>{{i18n "signatures.edittitle"}}</h3>
  			   <div>
  					 {{> editSignature}}
  				</div>
  			</div>
  		</div>
  		<div class="md-overlay"></div>
    </div><!-- /#page-wrapper -->
</template>

<template name="newSignature">
  <form id="new-signature-form" class="form">
      <div class="form-group">
        <label class="sr-only" for="new-signature-name">{{i18n "signatures.name"}}</label>
        <input type="text" class="form-control" id="new-signature-name" placeholder="{{i18n "signatures.name"}}" required/>
      </div>
      <div class="form-group">
        <label class="sr-only" for="new-signature-content">{{i18n "signatures.content"}}</label>
        <textarea type="text" class="form-control" id="new-signature-content" placeholder="{{i18n "signatures.content"}}" rows="15" required></textarea>
      </div>
      <div class="form-group">
        <button type="submit" id="create-new-signature" class="btn btn-default">{{i18n "signatures.createbutton"}}</button>
      </div>
  </form>
</template>

<template name="editSignature">
  <form id="edit-signature-form" class="form">
    <input type="hidden" id="edit-signature-id"/>
      <div class="form-group">
        <label class="sr-only" for="edit-signature-name">{{i18n "signatures.name"}}</label>
        <input type="text" class="form-control" id="edit-signature-name" placeholder="{{i18n "signatures.name"}}" required/>
      </div>
      <div class="form-group">
        <label class="sr-only" for="edit-signature-content">{{i18n "signatures.content"}}</label>
        <textarea type="text" class="form-control" id="edit-signature-content" placeholder="{{i18n "signatures.content"}}" rows="15" required></textarea>
      </div>
      <div class="form-group">
        <button type="submit" id="create-new-signature" class="btn btn-default">{{i18n "signatures.editbutton"}}</button>
      </div>
  </form>
</template>