<template name="signatures">
<div>
      <ul class="nav nav-pills nav-stacked side-nav">
            <li><a href="/dashboard"><i class="glyphicon glyphicon-stats"></i> Dashboard</a></li>
            <li class="active"><a href="/signatures"><i class="glyphicon glyphicon-bullhorn"></i> Signatures</a></li>
            <li><a href="/images"><i class="glyphicon glyphicon-picture"></i> Images</a></li>
            <li><a href="/campaigns"><i class="glyphicon glyphicon-calendar"></i> Campaigns</a></li>
            {{#if admin}}
            <li><a href="/users"><i class="glyphicon glyphicon-user"></i> Users</a></li>
            {{/if}}
      </ul>

    </div>

    <div id="page-wrapper">
      <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li class="active"><i class="glyphicon glyphicon-bullhorn"></i> Signatures</li>
            </ol>
          </div>
        </div><!-- /.row -->
      <div class="container"><button class="md-trigger btn btn-primary" data-modal="newSignatureModal">Créer une nouvelle signature</button></div>
      <br />
      <div class="container">
        <table class="table table-striped"> 
          <tr>
            <th>Nom</th>
            <th>Date de création</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>   
          {{#each signatures}}
          <tr>
            <td>{{name}}</td>
            <td>{{createdAt}}</td>
            <td><img src="{{{img}}}" height='50px'/></td>
            <td><i class="glyphicon glyphicon-pencil md-trigger" idSign="{{_id}}" data-modal="editSignatureModal"></td>
            <td><i class="glyphicon glyphicon-remove" idSign="{{_id}}"></td>
          </tr>       
          {{else}}
          <p class="empty">No content</p>
          {{/each}}
        </table>    
      <div class="md-modal md-effect-12" id="newSignatureModal">
  			 <div class="md-content">
  			   <button type="button" class="close md-close"aria-hidden="true">&times;</button>
  			   <h3>Nouvelle Signature</h3>
  			   <div>
  					 {{> newSignature}}
  				</div>
  			</div>
  		</div>
  		<div class="md-modal md-effect-12" id="editSignatureModal">
  			 <div class="md-content">
  			   <button type="button" class="close md-close"aria-hidden="true">&times;</button>
  			   <h3>Édition de la Signature</h3>
  			   <div>
  					 {{> editSignature}}
  				</div>
  			</div>
  		</div>
  		<div class="md-overlay"></div>
    </div><!-- /#page-wrapper -->
</template>

<template name="newSignature">
  <form id="new-signature-form" class="form">
      <div class="form-group">
        <label class="sr-only" for="new-signature-name">Nom</label>
        <input type="text" class="form-control" id="new-signature-name" placeholder="Nom" required/>
      </div>
      <div class="form-group">
        <label class="sr-only" for="new-signature-content">Content</label>
        <textarea type="text" class="form-control" id="new-signature-content" placeholder="Content" rows="15" required></textarea>
      </div>
      <div class="form-group">
        <button type="submit" id="create-new-signature" class="btn btn-default">Create</button>
      </div>
  </form>
</template>

<template name="editSignature">
  <form id="edit-signature-form" class="form">
    <input type="hidden" id="edit-signature-id"/>
      <div class="form-group">
        <label class="sr-only" for="edit-signature-name">Nom</label>
        <input type="text" class="form-control" id="edit-signature-name" placeholder="Nom" required/>
      </div>
      <div class="form-group">
        <label class="sr-only" for="edit-signature-content">Content</label>
        <textarea type="text" class="form-control" id="edit-signature-content" placeholder="Content" rows="15" required></textarea>
      </div>
      <div class="form-group">
        <button type="submit" id="create-new-signature" class="btn btn-default">Edit</button>
      </div>
  </form>
</template>