<template name="users">
  {{> sidebar}}

    <div id="page-wrapper">
      <div class="row">
          <div class="col-lg-12">
            <ol class="breadcrumb">
              <li class="active"><i class="icon-users"></i> {{i18n "sidebar.users"}}</li>
            </ol>
          </div>
        </div><!-- /.row -->
      {{#if admin}}
      <div>{{#if paid}}<button class="md-trigger btn btn-primary" data-modal="newUserModal"><i class="icon-plus"></i> {{i18n "users.create"}}</button>{{else}}<a class="btn btn-primary" href="/subscription"><i class="icon-plus"></i> {{i18n "users.create"}}</a>{{/if}}</div>
      <br />
      <div class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
      {{#each users}}
        <div class="row user-row">
            <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                <img class="img-circle" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50" alt="User Pic">
            </div>
            <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                <strong>{{emails.0.address}}</strong><br>
                <span class="text-muted">{{i18n "users.level"}} {{#if profile.admin}}{{i18n "users.admin"}}{{else}}{{i18n "users.modo"}}{{/if}}</span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 dropdown-user" data-for="#{{_id}}">
                <i class="icon-arrow-down text-muted"></i>
            </div>
        </div>
        <div class="row user-infos" id="{{_id}}">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{i18n "users.info"}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                                <img class="img-circle"
                                     src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                     alt="User Pic">
                            </div>
                            <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                <img class="img-circle"
                                     src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=50"
                                     alt="User Pic">
                            </div>
                            <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                <strong>{{emails.0.address}}</strong><br>
                                <dl>
                                    <dt>{{i18n "users.level"}}</dt>
                                    <dd>{{#if profile.admin}}{{i18n "users.admin"}}{{else}}{{i18n "users.modo"}}{{/if}}</dd>
                                    <dt>{{i18n "users.registered"}}</dt>
                                    <dd>{{prettifyDate createdAt}}</dd>
                                </dl>
                            </div>
                            <div class=" col-md-9 col-lg-9 hidden-xs hidden-sm">
                                <strong>{{emails.0.address}}</strong><br>
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>{{i18n "users.level"}}</td>
                                        <td>{{#if profile.admin}}{{i18n "users.admin"}}{{else}}{{i18n "users.modo"}}{{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{i18n "users.registered"}}</td>
                                        <td>{{prettifyDate createdAt}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-sm btn-primary no-backbone" type="button" data-toggle="tooltip" data-original-title="{{i18n "users.send"}}" href="mailto:{{emails.0.address}}"><i class="icon-mail"></i></a>
                        <span class="pull-right">
                            <button class="btn btn-sm btn-warning editUserButton md-trigger" idUser="{{_id}}" type="button" data-toggle="tooltip" data-original-title="{{i18n "users.edit"}}" data-modal="editUserModal"><i class="icon-pencil"></i></button>
                            <button class="btn btn-sm btn-danger removeUserButton" idUser="{{_id}}" type="button" data-toggle="tooltip" data-original-title="{{i18n "users.remove"}}"><i class="icon-close" ></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
      </div>
      {{else}}
      You have nothing to do here.
      {{/if}}
    </div>  
      <div class="md-modal md-effect-12" id="newUserModal">
  			 <div class="md-content">
  			   <button type="button" class="close md-close"aria-hidden="true">&times;</button>
  			   <h3>{{i18n "users.newtitle"}}</h3>
  			   <div>
  					 {{> newUser}}
  				</div>
  			</div>
  		</div>
  		<div class="md-modal md-effect-12" id="editUserModal">
  			 <div class="md-content">
  			   <button type="button" class="close md-close"aria-hidden="true">&times;</button>
  			   <h3>{{i18n "users.edittitle"}}</h3>
  			   <div>
  					 {{> editUser}}
  				</div>
  			</div>
  		</div>
  		<div class="md-overlay"></div>
    </div><!-- /#page-wrapper -->
</template>

<template name="newUser">
  <form id="new-user-form" class="form">
      <div class="form-group">
        <label class="sr-only" for="new-user-email">{{i18n "users.email"}}</label>
        <input type="email" class="form-control" id="new-user-email" placeholder="{{i18n "users.email"}}" required/>
      </div>
      <div class="form-group">
        <label class="sr-only" for="new-user-password">{{i18n "users.password"}}</label>
        <input type="email" class="form-control" id="new-user-password" placeholder="{{i18n "users.password"}}" required/>
      </div>
      <div class="form-group">
        <button type="submit" id="create-new-user" class="btn btn-default">{{i18n "users.createbutton"}}</button>
      </div>
  </form>
</template>

<template name="editUser">
  <form id="edit-user-form" class="form">
    <input type="hidden" id="edit-user-id"/>
      <div class="form-group">
        <label class="sr-only" for="edit-user-email">{{i18n "users.email"}}</label>
        <input type="email" class="form-control" id="edit-user-email" placeholder="{{i18n "users.email"}}" required/>
      </div>
      <div class="form-group">
        <label class="sr-only" for="edit-user-password">{{i18n "users.password"}}</label>
        <input type="email" class="form-control" id="edit-user-password" placeholder="{{i18n "users.password"}}" required/>
      </div>
      <div class="form-group">
        <button type="submit" id="edit-user" class="btn btn-default">{{i18n "users.editbutton"}}</button>
      </div>
  </form>
</template>