/* These should be in their respective packages. https://app.asana.com/0/988582960612/1477837179813 */

#login-dropdown-list .alert {
  margin:0 0 10px 0;
  padding: 5px 10px;
}
#login-other-options {
  padding-top:8px;
}
