body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.header-image {
  background: url("/assets/img/header.png");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
	height: auto;
	display: block;
	width: 100%;
	text-align: center;
}

.headline {
	padding: 120px 0 50px 0;
}

.headline > .container > h1 {
	font-size: 130px;
	color: #ffffff;
}

.headline > .container > h2 {
	font-size: 50px;
	color: #ffffff;
}

.featurette-divider {
	margin: 10px 0;
}
#first-featurette-divider {
  margin-top:50px;
}
.featurette {
	overflow: hidden; 
}

.featurette-image.pull-left {
	margin-right: 40px;
}
.featurette-image.pull-right {
	margin-left: 40px;
}

.featurette-heading {
  margin-top:70px;
	font-size: 50px;
}

footer {
	margin: 50px 0;
}

/* RESPONSIVE CSS */

@media (max-width: 1200px) {

.headline > .container > h1 {font-size: 140px;}
.headline > .container > h2 {font-size: 63px;}
.featurette-divider {margin: 50px 0;}
.featurette-image.pull-left {margin-right: 20px;}
.featurette-image.pull-right {margin-left: 20px;}
.featurette-heading {font-size: 35px;}

}

@media (max-width: 991px) {

.headline > .container > h1 {font-size: 105px;}
.headline > .container > h2 {font-size: 50px;}
.featurette-divider {margin: 40px 0;}
.featurette-image {max-width: 50%;}
.featurette-image.pull-left {margin-right: 10px;}
.featurette-image.pull-right {margin-left: 10px;}
.featurette-heading {font-size: 30px;}

}

@media (max-width: 768px) {
	
.container {margin: 0 15px;}
.featurette-divider {margin: 40px 0;}
.featurette-heading {font-size: 25px;}

}


@media (max-width: 668px) {

.headline > .container > h1 {font-size: 70px;}
.headline > .container > h2 {font-size: 32px;}
.featurette-divider {margin: 30px 0;}

}

@media (max-width: 640px) {

.headline {padding: 75px 0 25px 0;}
.headline > .container > h1 {font-size: 60px;}
.headline > .container > h2 {font-size: 30px;}

}

@media (max-width: 375px) {

.featurette-divider {margin: 10px 0;}
.featurette-image {max-width: 100%;}
.featurette-image.pull-left {margin-right: 0; margin-bottom: 10px;}
.featurette-image.pull-right {margin-left: 0; margin-bottom: 10px;}

}

.error-template {padding: 40px 15px;text-align: center; color:#DDDDDD}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.subscript
{
    font-size: 25px;
}
.place
{
  position: relative;
  width: 500px;
  max-width:100%;
  height:500px;
}
#mail
{
  background-image: url("/assets/img/mail.svg")
}
#target
{
  background-image: url("/assets/img/target.svg")
}
#gift
{
  background-image: url("/assets/img/gift.svg")
}
#mail1, #mail2, #mail3, #mail4,#mail5,#arrow
{
  opacity: 0;
}

.btn {border:0;border-bottom:0;border-left:0;font-weight:'900';font-family:'Ubuntu', sans-serif;box-shadow: inset 0 -3.2px rgba(0, 0, 0, 0.12),inset 2px 0 rgba(0, 0, 0, 0.1);outline:none;-webkit-outline:none;-o-outline:none;-moz-outline:none;}
.btn:active {outline:none;-moz-outline:none;background-image: none;-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;position: relative;box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;top: 1px;left:-1px;}
.btn:focus {outline:none;-webkit-outline:none;-moz-outline:none;}

.btn-default {
  color:#8e44ad;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  color:#7e349d;
}

.btn-primary {
  background-color:#9b59b6;
  border-color:#8e44ad;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color:#8e44ad;
  border-color:#7e349d;
}

a{
  color: #9b59b6;
}
a:hover {
  color:#8e44ad;
}
.form-control:focus {
  border-color: #ab69c6;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(155, 89, 182,0.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(155, 89, 182,0.6);
}

#imagesList {
    list-style: none;
    text-align: center;
    margin: 0 auto;
}

#imagesList li {
	min-width:23%;
	max-width:99%;
	margin: 1%;
  height: 6em;
  color: #fff;
  padding: 0;
  cursor: pointer;
  display: block;
  float: left;
  position : relative;
}
#imagesList li img {
  max-height:15em;
  }
  
  #loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.95;
  background-color: #9b59b6;
  z-index: 99;
  text-align: center;
}
.spinner {
      margin: 0;
      width: 70px;
      text-align: center;
      position:absolute;
      top:48%;
      left:48%;
    }

    .spinner > div {
      width: 18px;
      height: 18px;
      background-color: #fff;

      border-radius: 100%;
      display: inline-block;
      -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
      animation: bouncedelay 1.4s infinite ease-in-out;
      /* Prevent first frame from flickering when animation starts */
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }

    @-webkit-keyframes bouncedelay {
      0%, 80%, 100% { -webkit-transform: scale(0.0) }
      40% { -webkit-transform: scale(1.0) }
    }

    @keyframes bouncedelay {
      0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
      } 40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
    }

#i18nSelect {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#101010;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:#999;
  padding:5px 12px;
  margin-left:3px;
  width:auto;
  font-family:arial,tahoma;
  font-size:16px;
  text-align:center;
  border-radius:0;
  -webkit-border-radius:0;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}
#i18nSelect:hover {
  color:#fff
}

.section-box {
  margin-top:30px;
}
#video_background {
  position:absolute;
  bottom: 0px;
  right: 0px;
  min-height: 100%;
  min-width: 100%;
  width:auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}